<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:tasks.db</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbmddl.auto">create</property>  <!-- create, update, none -->
        <mapping class="solutions.obama.taskmanager.models.Task"/>
    </session-factory>
</hibernate-configuration>